@import "tailwindcss";

@layer utilities {
	@keyframes carousel-scroll {
		from {
			transform: translateX(0);
		}

		to {
			transform: translateX(-50%);
		}
	}

	.animate-carousel-scroll {
		animation: carousel-scroll 45s linear infinite;
	}
}
